/* -------------------------------- */
/* ----------  VARIABLES  --------- */
/* -------------------------------- */

/* Breakpoints horizontaux */
$break-small: 575px;
$break-small-tablet: 800px;
$break-large: 991px;
$break-xl: 1281px;
$break-xxl: 1600px;

/* Breakpoints verticaux */
$break-small-height: 688px;
$break-large-height: 801px;
$break-xl-height: 1081px;

// Roboto
$roboto-light: "Roboto Light", sans-serif;
$roboto-medium: "Roboto Medium", sans-serif;
$roboto-bold: "Roboto Bold", sans-serif;

/* Couleurs */
$grey: #5f5f5f;
$gray: $grey;
$medium: rgba($grey, 0.2);
$light: #f7f7f7;
$orange: #fe9b04;
$yellow: #ecfc3f;
$blue: #007BFF;
$light-grey: #707070;
$dark-grey: #333333;
$red: red;