form{
	width: 100%;
	margin: 0 auto;

	div {
		margin: 10px 0;
		fieldset {
			border: 1px solid lightgrey;
			padding-top: 0;
			height: 50px;
			margin-top: 1rem;

			legend {
				padding: 0 5px;
				position: relative;
				bottom: 2px;
				font-size: 12px;
				color: $dark-grey;
			}

			div {
				margin: 0;
				height: 100%;
				input {
					border: 0;

					&::placeholder {
						font-size: 1.2rem;
					}

					&:not([type=file]):focus{
						outline: none;
						border: none;
						border-bottom: solid 1px $light-grey;
					}
				}
			}

			input, textarea{
				&.upper{
					text-transform: uppercase;
				}

				&.capitalize{
					text-transform: capitalize;
				}

				&.lower{
					text-transform: lowercase;
				}

				&[type=text], &[type=email], &[type=url]{
					&.upper{
						text-transform: uppercase;
					}

					&.capitalize{
						text-transform: capitalize;
					}

					&.lower{
						text-transform: lowercase;
					}
				}

				& + span{
					padding-right: 1rem;
				}

				&:invalid + span::after{
					position: absolute;
					content: "✖";
					padding-left: 5px;
					color: #8b0000;
				}

				&:valid + span::after{
					position: absolute;
					content: "✓";
					padding-left: 5px;
					color: #009000;
				}
			}
		}

		&.buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			margin-top: 2rem;
			button {
				min-width: 200px;
				font-family: $roboto-medium;
				letter-spacing: 0.1rem;
				margin-bottom: 10px;
				height: 50px;
				border: 1px solid black;
				@media screen and (min-width: $break-large) and (max-width: $break-xl) {
					font-size: 14px;
				}
			}
		}
	}



	@media screen and (min-width: $break-small) {
		width: 90%;
	}
}