aside#passRequirements {
  &.password-requirements {
    height: fit-content;
    position: absolute;
    min-height: 100px;
    flex-wrap: wrap;
    margin-top: 0;
    left: -1px;
    bottom: 95px;
    padding: 0 0.5rem;
    z-index: 199;
    background: rgba(250, 250, 250, 1);
    border: solid 1px gray;
    width: 250px;
    transform: translateY(25%);
    display: none;

    &.visible {
      display: flex;
    }

    .requirement {
      font-family: "Roboto Medium", sans-serif;
      position: relative;
      top: initial;
      right: initial;
      font-size: 0.8rem;
      min-width: max-content;
      width: 100%;
      margin-bottom: 5px;
      &:first-of-type {
        margin-top: 5px;
      }
    }

    .requirement:not(.valid) {
      color: #808080;
    }

    .requirement.valid {
      color: #4caf50;
    }

    .requirement.error {
      color: red;
    }
  }
}
