#gestion-details-artiste {
  .infos-generales {
    & > div {
      & > p {
        padding: 0.5rem;
      }
    }

    .infos-artiste-oeuvres-presentation {
      tbody {
        td {
          height: 80px;

          a {
            img {
              width: 64px;
              height: 64px;
            }
          }
        }
      }
    }
  }

  .infos-detaillees {
    .texte {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      textarea {
        width: 90%;
        min-height: 25rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
      }

      margin-bottom: 1rem;
    }

    .infos-artiste-oeuvres-publication {
      tbody {
        td {
          height: 80px;

          a {
            img {
              width: 64px;
              height: 64px;
            }
          }
        }
      }
    }
  }
  .infos-compte-banque {
    .container {
      width: 60%;
      @media screen and (min-width: $break-large) and (max-width: $break-xl) {
        width: 70%;
      }
      @media screen and (max-width: $break-large) {
        width: 100%;
      }
      .moyen-de-paiement {
        border-bottom: 1px solid #000;
        padding-bottom: 2rem;

        .titre-section-methode {
          margin-bottom: 2rem;

          h5 {
            font-family: "Roboto Medium", sans-serif;
            font-size: 14px;
            margin-top: 30px;

            text-transform: uppercase;
            @media screen and (max-width: $break-small) {
              font-size: 12px;
            }
          }
        }

        .moyens-de-virement {
          display: grid;
          grid-template-columns: 0.5fr 1.2fr;
          grid-template-rows: repeat(2, 60px);
          grid-template-areas:
            "titre-virement different-virement "
            "titre-statut different-statut ";
          width: 80%;
          margin: 0 auto;
          align-items: center;
          @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: 95%;
          }
          @media screen and (max-width: $break-small) {
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            grid-template-areas:
              "titre-virement"
              "different-virement"
              "titre-statut"
              "different-statut";
          }

          div {
            margin-bottom: 0;

            p {
              text-align: left;
              font-weight: bold;
            }
          }

          .titre-virement {
            grid-area: titre-virement;
            @media screen and (max-width: $break-small) {
              margin-bottom: 1rem;
            }
          }

          .different-virement,
          .different-statut {
            display: flex;

            div {
              display: flex;
              align-items: center;

              label {
                cursor: pointer;
              }

              &:nth-of-type(1) {
                margin-right: 1rem;
                width: 50%;
              }

              input {
                &[type="checkbox"],
                &[type="radio"] {
                  order: 0;
                  cursor: pointer;
                  outline: none;
                  box-shadow: none;
                  align-self: center;
                  justify-self: center;

                  -webkit-appearance: none;
                  appearance: none;
                  background-color: #fff;
                  font: inherit;
                  color: $orange;
                  width: 1.1em;
                  height: 1.1em;
                  border: 0.05em solid rgba(0, 0, 0, 0.5);
                  transform: translateY(-0.025em);
                  display: grid;
                  place-content: center;
                  margin: 0 1rem 0 0;
                  min-width: 13px;

                  &::before {
                    content: "";
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 0.8em 0.8em $orange;
                  }

                  &:checked {
                    border-color: $orange;

                    &::before {
                      transform: scale(1);
                    }
                  }
                }

                &[type="checkbox"] {
                  border-radius: 0.15em;

                  &::before {
                    width: 0.65em;
                    height: 0.65em;
                    transform-origin: bottom left;
                    clip-path: polygon(
                      14% 44%,
                      0 65%,
                      50% 100%,
                      100% 16%,
                      80% 0%,
                      43% 62%
                    );
                  }
                }

                &[type="radio"] {
                  &::before {
                    width: 0.65em;
                    height: 0.65em;
                    clip-path: polygon(
                      14% 44%,
                      0 65%,
                      50% 100%,
                      100% 16%,
                      80% 0%,
                      43% 62%
                    );
                  }
                }

                &[type="text"],
                &[type="number"] {
                  order: 1;
                  height: 25px;
                  align-self: center;
                  justify-self: end;
                  //margin-right: 1rem;
                  max-width: 60%;
                  text-align: center;
                  min-height: 100%;
                }

                &::placeholder {
                  color: black;
                  text-align: center;
                  font-size: 12px;
                }
              }
            }
          }

          .different-virement {
            grid-area: different-virement;
            @media screen and (max-width: $break-small) {
              margin-bottom: 2rem;
            }
          }

          .titre-statut {
            grid-area: titre-statut;
            @media screen and (max-width: $break-small) {
              margin-bottom: 1rem;
            }
          }

          .different-statut {
            grid-area: different-statut;
          }
        }
      }

      .detail-compte-bancaire {
        .titre-section-detail {
          margin-bottom: 2rem;

          h5 {
            font-family: $roboto-medium;
            font-size: 14px;
            margin-top: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
            @media screen and (max-width: $break-small) {
              font-size: 12px;
            }
          }
        }

        .differente-informations {
          display: grid;
          grid-template-columns: 0.5fr 1.2fr;
          grid-template-areas:
            "titre-type different-type"
            "titre-type-methode different-type-methode"
            "titre-rib info-rib"
            "titre-banque info-banque"
            "adresse-banque-1 info-adresse-banque-1"
            "adresse-banque-2 info-adresse-banque-2"
            "code-postal-banque info-code-postal-banque"
            "ville-banque info-ville-banque"
            "pays-banque info-pays-banque"
            "titre-iban info-iban"
            "div-separation div-separation"
            "titre-numero-compte info-numero-compte"
            "titre-bic info-bic"
            "titre-info-complementaire info-complementaire-section"
            "titre-document info-document"
            "titre-diff-type info-diff-type"
            "titre-document-diff info-document-diff"
            "votre-identite deposer-votre-identite";
          width: 80%;
          margin: 0 auto;
          @media screen and (min-width: $break-small) and (max-width: $break-large) {
            width: 95%;
          }
          @media screen and (max-width: $break-small) {
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            grid-template-areas:
              "titre-type"
              "different-type"
              "titre-type-methode "
              "different-type-methode"
              "titre-rib"
              "info-rib"
              "titre-banque"
              "info-banque"
              "adresse-banque-1"
              "info-adresse-banque-1"
              "adresse-banque-2"
              "info-adresse-banque-2"
              "code-postal-banque"
              "info-code-postal-banque"
              "ville-banque"
              "info-ville-banque"
              "pays-banque"
              "info-pays-banque"
              "titre-iban"
              "info-iban"
              "div-separation"
              "titre-numero-compte"
              "info-numero-compte"
              "titre-bic"
              "info-bic"
              "titre-info-complementaire"
              "info-complementaire-section"
              "titre-document"
              "info-document"
              "titre-diff-type"
              "info-diff-type"
              "titre-document-diff"
              "info-document-diff"
              "votre-identite"
              "deposer-votre-identite";
          }

          .other-type {
            display: none;
          }

          .div-separation {
            grid-area: div-separation;

            p {
              text-align: center;
              font-size: 18px;
            }
          }

          div {
            margin-bottom: 2rem;

            p {
              text-align: left;
              font-weight: bold;
            }

            div {
              margin-bottom: 0;

              input {
                &::placeholder {
                  text-transform: none;
                }
              }
            }

            &:nth-of-type(odd) {
              @media screen and (max-width: $break-small) {
                margin-bottom: 1rem;
                div {
                  margin-bottom: 0;
                }
              }
            }

            &:nth-of-type(even) {
              @media screen and (max-width: $break-small) {
                margin-bottom: 2rem;
                div {
                  margin-bottom: 0;
                }
              }
            }

            &:last-of-type {
              @media screen and (max-width: $break-small) {
                margin-bottom: 0;
              }
            }
          }

          .titre-type {
            grid-area: titre-type;
          }

          .different-type {
            grid-area: different-type;
          }

          .different-type,
          .different-type-methode {
            display: flex;
            flex-wrap: wrap;
            row-gap: 1rem;

            div {
              display: flex;
              align-items: center;

              &:not(:last-of-type) {
                margin-right: 2rem;
                @media screen and (max-width: $break-small) {
                  margin-right: 0.6rem;
                }
              }

              label {
                cursor: pointer;
              }

              input {
                &[type="checkbox"],
                &[type="radio"] {
                  order: 0;
                  cursor: pointer;
                  outline: none;
                  box-shadow: none;
                  align-self: center;
                  justify-self: center;

                  -webkit-appearance: none;
                  appearance: none;
                  background-color: #fff;
                  margin: 0;

                  font: inherit;
                  color: $orange;
                  width: 1.1em;
                  height: 1.1em;
                  border: 0.05em solid rgba(0, 0, 0, 0.5);
                  transform: translateY(-0.025em);
                  display: grid;
                  place-content: center;
                  margin-right: 1rem;
                  min-width: 13px;

                  &::before {
                    content: "";
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 0.8em 0.8em $orange;
                  }

                  &:checked {
                    border-color: $orange;

                    &::before {
                      transform: scale(1);
                    }
                  }
                }

                &[type="checkbox"] {
                  border-radius: 0.15em;

                  &::before {
                    width: 0.65em;
                    height: 0.65em;
                    transform-origin: bottom left;
                    clip-path: polygon(
                      14% 44%,
                      0 65%,
                      50% 100%,
                      100% 16%,
                      80% 0%,
                      43% 62%
                    );
                  }
                }

                &[type="radio"] {
                  &::before {
                    width: 0.65em;
                    height: 0.65em;
                    clip-path: polygon(
                      14% 44%,
                      0 65%,
                      50% 100%,
                      100% 16%,
                      80% 0%,
                      43% 62%
                    );
                  }
                }

                &[type="text"],
                &[type="number"] {
                  order: 1;
                  height: 25px;
                  align-self: center;
                  justify-self: end;
                  //margin-right: 1rem;
                  max-width: 60%;
                  text-align: center;
                  min-height: 100%;
                }

                &::placeholder {
                  color: black;
                  text-align: center;
                  font-size: 12px;
                }
              }
            }
          }

          .titre-type-methode {
            grid-area: titre-type-methode;
          }

          .titre-rib {
            grid-area: titre-rib;

            p {
              br {
                @media screen and (max-width: $break-small) {
                  display: none;
                }
              }
            }
          }

          .info-rib {
            grid-area: info-rib;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .titre-banque {
            grid-area: titre-banque;

            p {
              br {
                @media screen and (max-width: $break-small) {
                  display: none;
                }
              }
            }
          }

          .info-banque {
            grid-area: info-banque;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .marge-banque {
            margin-bottom: 0.5rem;
          }

          .adresse-banque-1 {
            grid-area: adresse-banque-1;

            p {
              br {
                @media screen and (max-width: $break-small) {
                  display: none;
                }
              }
            }
          }

          .info-adresse-banque-1 {
            grid-area: info-adresse-banque-1;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .adresse-banque-2 {
            grid-area: adresse-banque-2;
          }

          .info-adresse-banque-2 {
            grid-area: info-adresse-banque-2;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .code-postal-banque {
            grid-area: code-postal-banque;
          }

          .info-code-postal-banque {
            grid-area: info-code-postal-banque;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .ville-banque {
            grid-area: ville-banque;
          }

          .info-ville-banque {
            grid-area: info-ville-banque;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .pays-banque {
            grid-area: pays-banque;
          }

          .info-pays-banque {
            grid-area: info-pays-banque;

            .dropdownfiltre {
              height: 50px;
              width: 100%;

              &::before {
                top: 37%;
              }

              &.active {
                &::before {
                  top: calc(37% + 5px);
                }
              }

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;

                &::placeholder {
                  color: grey;
                  @media screen and (min-width: $break-small) and (max-width: $break-xl) {
                    font-size: 12px;
                  }
                }
              }

              .options {
                max-height: 300px;
                overflow-y: scroll;
              }
            }
          }

          .titre-iban {
            grid-area: titre-iban;
          }

          .info-iban {
            grid-area: info-iban;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .titre-numero-compte {
            grid-area: titre-numero-compte;

            p {
              span {
                font-size: 12px;
              }
            }
          }

          .info-numero-compte {
            grid-area: info-numero-compte;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .titre-bic {
            grid-area: titre-bic;
          }

          .info-bic {
            grid-area: info-bic;

            div {
              height: 50px;

              input {
                width: 100%;
                height: 100%;
                border: 1px solid #d3d3d3;
                padding: 0 1rem;
              }
            }
          }

          .titre-info-complementaire {
            grid-area: titre-info-complementaire;
          }

          .info-complementaire-section {
            grid-area: info-complementaire-section;

            div {
              textarea {
                width: 100%;
                resize: none;
                padding: 1rem;
              }
            }
          }

          .titre-document {
            grid-area: titre-document;

            p {
              br {
                @media screen and (max-width: $break-small) {
                  display: none;
                }
              }
            }
          }

          .info-document {
            grid-area: info-document;

            div {
              &:not(.linkdoc) {
                height: 50px;
              }

              &.linkdoc {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 1rem;
                .affichage-doc-bancaire {
                  height: auto;
                  width: 100%;
                }
                .option-doc-bancaire {
                  display: flex;
                  gap: 0.5rem;
                }
              }

              a.document {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
                width: fit-content;

                img {
                  height: 0.8rem;
                  cursor: pointer;
                }
              }

              a:not(.document),
              button {
                display: flex;
                height: 100%;
                width: 60%;
                background-color: #000;
                color: #fff;
                align-items: center;
                justify-content: space-evenly;

                @media screen and (max-width: $break-small) {
                  width: 100%;
                }
                @media screen and (min-width: $break-large) and (max-width: $break-xxl) {
                  width: 100%;
                }

                img,
                svg {
                  width: 20px;
                  height: 20px;
                  fill: #fff;
                  @media screen and (max-width: $break-small) {
                    width: 15px;
                    height: 15px;
                  }
                }
              }

              #chDocBancaire {
                display: none;
              }
            }
          }

          .titre-diff-type {
            grid-area: titre-diff-type;
          }

          .info-diff-type {
            grid-area: info-diff-type;

            div {
              textarea {
                width: 100%;
                resize: none;
                padding: 1rem;
              }
            }
          }

          .titre-document-diff {
            grid-area: titre-document-diff;

            p {
              br {
                @media screen and (max-width: $break-small) {
                  display: none;
                }
              }
            }
          }

          .info-document-diff {
            grid-area: info-document-diff;
          }

          .votre-identite {
            grid-area: votre-identite;
          }

          .deposer-votre-identite {
            grid-area: deposer-votre-identite;
          }

          .info-document-diff,
          .deposer-votre-identite {
            div {
              display: flex;
              flex-direction: column;
              &.doc-bancaire-recto {
                margin-bottom: 1rem;
              }

              &.linkdoc {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin-bottom: 1rem;
                .affichage-doc-bancaire {
                  height: auto;
                  width: 100%;
                }
                .option-doc-bancaire {
                  display: flex;
                  gap: 0.5rem;
                  flex-direction: row;
                }
                + div {
                  display: flex;
                  justify-content: center;
                }
              }

              a.document {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
                width: fit-content;

                img {
                  height: 0.8rem;
                  cursor: pointer;
                }
              }

              input {
                height: 100%;
              }

              input[type="file"] {
                width: fit-content;
                margin-bottom: 0.5rem;
              }

              input[type="file"]::file-selector-button {
                border: none;
                background-color: #000;
                color: #fff;
                height: 50px;
                padding: 8px 12px;
                width: 180px;
                cursor: pointer;
                @media screen and (max-width: $break-small) {
                  width: 140px;
                }
              }
            }
          }
        }
      }
    }

    .button-compte-acheteur-vendeur-paiement {
      width: 100%;
      justify-content: center;
      margin: 30px auto;
      display: flex;
      text-transform: uppercase;
      align-items: baseline;
      max-width: 92%;
      @media screen and (min-width: $break-large) {
        width: 62%;
        justify-content: center;
        margin: 30px auto;
        display: flex;
        text-transform: uppercase;
      }
      button {
        width: 25.2%;
        padding: 15px 20px;
        text-transform: uppercase;
        @media screen and (min-width: $break-large) and (max-width: $break-xxl) {
          width: 30%;
        }
        @media screen and (max-width: $break-small) {
          width: 100%;
        }

        &#commitFormParametresUser,
        &#commitFormInfosBancaire,
        &#commitFormOptionsUser,
        &#commitFormUserAbsent {
          background-color: #f4f0f0;
          color: black;
          margin-right: 10px;
        }

        &#resetFormParametresUser,
        &#resetFormInfosBancaire,
        &#resetFormOptionsUser,
        &#resetFormUserAbsent {
          background-color: white;
          border: solid 1px black;
        }
      }
    }
  }
}
