#gestion-details-user{
	section.infos-generales{

	}

	section.infos-complementaires{
		&>.container>div{
			padding-left: 0.1rem;
		}

		.infos-user-documents{

		}

		.infos-user-activite{
			overflow-y: scroll;
			max-height: 50vh;
		}
	}
}