/* -------------------------------- */
/* -------- Connexion-inscription  ------- */
/* -------------------------------- */
#connexion-inscription {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: #f4f2f1;
	.switch-connexion-inscription {
		width: 50%;
		background-color: white;
		@media screen and (max-width: $break-small) {
			width: 100%;
		}
		@media screen and (min-width: $break-small) and (max-width: $break-large) {
			width: 75%;
		}
		@media screen and (min-width: $break-large) and (max-width: $break-xl) {
			width: 60%;
		}
		.section-header {
			display: flex;
			justify-content: center;
			padding-top: 1rem;
			margin-bottom: 2rem;
			@media screen and (min-width: $break-small) {
				margin-bottom: 3rem;
				padding-top: 2rem;
			}
			.border-header {
				border: 1px solid grey;
				border-bottom: transparent;
			}
			header {
				width: 40%;
				@media screen and (max-width: $break-xxl) {
					width: 45%;
				}
				&:not(.border-header) {
					border: transparent;
					border-bottom: 1px solid grey;
				}

				button {
					height: 100%;
					padding: 15px;
					width: 100%;
				}
			}
		}
		section {
			header {
				&:nth-of-type(1) {
					button {
						display: flex;
						align-items: center;
						flex-direction: column;
					}
				}
				span {
					margin-bottom: 0.2rem;
					text-align: center;
					font-family: $roboto-medium;
					letter-spacing: 0.1rem;
					font-size: 18px;
					text-transform: uppercase;
					display: block;
					@media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
						font-size: 16px;
					}
					@media screen and (min-width: $break-small) and (max-width: $break-xl) {
						font-size: 14px;
					}
					@media screen and (max-width: $break-small) {
						font-size: 12px;
					}
					&:nth-of-type(1) {
						margin-bottom: 0.5rem;
					}
					&:nth-of-type(2) {
						font-weight: normal;
						font-family: $roboto-medium; //$acumin-pro-wide;
						letter-spacing: 0.1rem;
						font-size: inherit;
						text-transform: capitalize;
					}
				}
			}

			/*.creer-none-svg{
					  display: block;
					  margin: 0 0 2rem;
					  @media screen and (min-width: $break-small){
						  display: none;
					  }
				  }*/

			p {
				text-align: left;
				&.phrase1 {
					width: 100%;
					text-align: left;
					margin: 0 auto;

					@media screen and (min-width: $break-small) {
						margin-bottom: 0;
						width: 90%;
					}

					@media screen and (min-width: $break-xl) {
						margin-bottom: 1rem;
					}
				}

				&.phrase2 {
					font-family: $roboto-medium;
					letter-spacing: 0.1rem;
					text-align: center;
					margin: 10px 0;

					@media screen and (min-width: $break-small) {
						font-size: 16px;
						margin: 2rem 0;
					}

					@media screen and (min-width: $break-large) and (max-width: $break-xl) {
						margin: 1.5rem 0 0.5rem;
					}
				}
				&:nth-of-type(3) {
					display: none;
				}
			}

			&.section-connexion {
				width: 90%;
				margin: 0 auto 2rem;

				.flex-btn {
					width: 100%;
					display: flex;
					flex-direction: column;
					margin: 10px auto 0;

					button {
						color: white;
						padding: 5px 0;
						font-family: $roboto-medium;
						letter-spacing: 0.1rem;
						margin: 15px 0 10px;
						display: flex;
						justify-content: center;
						text-transform: uppercase;
						img {
							display: none;
						}
					}

					.btn-facebook {
						background-color: rgb(44, 46, 113);
					}

					.btn-google {
						background-color: red;
						margin-top: 0;
						padding-right: 0;
					}

					@media screen and (min-width: $break-small) {
						//row-gap: 1rem;
						margin-bottom: 1rem;
						width: 90%;
						button {
							margin: 15px 0 0.5rem;
						}
					}

					@media screen and (min-width: $break-large) and (max-width: $break-xl) {
						margin-top: 0;
						margin-bottom: 0;
						button {
							font-size: 9px;
						}
					}
				}

				@media screen and (min-width: $break-small) {
					min-width: 35%;
				}
			}

			&.section-inscription {
				width: 100%;

				h2 {
					margin-bottom: 2rem;

					@media screen and (min-width: $break-small) {
						margin-bottom: 3.5rem;
					}
				}

				& > p {
					margin: 0 auto 2rem;
					text-align: justify;
					@media screen and (min-width: $break-small) {
						width: 90%;
						padding: 0;
					}
					@media screen and (min-width: $break-xl) {
						margin-bottom: 3rem;
					}
				}

				.ligne-titre {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					width: 100%;
					column-gap: 1rem;
					margin: 0 auto 2rem;

					hr {
						width: 50%;
					}

					h3 {
						width: fit-content;
						text-align: center;
						text-transform: uppercase;
						font-size: 12px;
						@media screen and (min-width: $break-small) {
							font-size: inherit;
						}
					}
					@media screen and (min-width: $break-small) {
						width: 90%;
						margin-bottom: 3rem;
					}
				}

				h5 {
					margin: 3rem auto 4rem;
					&.titre {
					}

					@media screen and (min-width: $break-small) {
						margin: 2rem auto 2rem;
					}

					@media screen and (min-width: $break-large) {
						margin: 3rem auto 2rem;
					}

					@media screen and (min-width: $break-xl) {
						margin: 2rem auto 3rem;
					}
				}

				.section-inscriptions-type {
					width: 90%;
					margin: 0 auto;
					margin-bottom: 0.5rem;
					@media screen and (min-width: $break-small) {
						margin-bottom: 3rem;
					}
					@media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
						margin-bottom: 1rem;
					}
					&.marche {
						.section-inscription-actions {
							width: 100%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: flex-start;

							& > div {
								width: 100%;
								position: relative;
							}

							.image-legende-inscription {
								display: flex;

								align-items: flex-end;
								justify-content: flex-start;
								row-gap: 1rem;
								margin-bottom: 1rem;

								.creer-compte-image {
									width: 30px;
									aspect-ratio: 1;
									margin-right: 1rem;
									@media screen and (min-width: $break-small) {
										width: 24px;
										margin-right: 0;
									}
								}

								.legende {
									text-align: center;
								}

								@media screen and (min-width: $break-small) {
									min-height: 6rem;
									margin-bottom: 0;
									flex-direction: column;
									align-items: center;
								}

								@media screen and (min-width: $break-large) {
									min-height: 6rem;
								}

								@media screen and (min-width: $break-xl) {
									min-height: 6rem;
								}
								@media screen and (min-width: $break-xxl) {
									min-height: 5rem;
								}
							}

							.trait-sep {
								width: 60%;
								margin: 0 auto 2rem;
								@media screen and (min-width: $break-small) {
									display: none;
								}
							}

							.sections-inscriptions-commun {
								display: flex;
								flex-direction: column;
								width: 100%;
								margin-bottom: 2rem;
								margin-left: 0;
								div {
									display: flex;
									flex-direction: column;
									justify-content: center;
									&:nth-of-type(1) {
										width: 100%;
										text-align: center;
										border: solid 1px black;
										position: relative;
										height: 6rem;
										overflow: hidden;
										a {
											font-family: $roboto-medium;
											letter-spacing: 0.1rem;
											width: 100%;
											height: 100%;
											display: flex;
											align-items: center;
											justify-content: center;
											line-height: 0.9rem;
											&:nth-of-type(2) {
												display: none;
												font-family: $roboto-medium; //$acumin-pro-wide;
												letter-spacing: 0.1rem;
											}

											&.btn-info {
												display: block;
												position: absolute;
												top: -14px;
												right: -12px;
												width: 16px;
												img {
													width: 100%;
												}

												#image-phone-2 {
													display: none;
												}
												#image-phone-4 {
													display: none;
												}

												@media screen and (min-width: $break-small) and (max-width: $break-small) {
													width: 24px;
												}

												@media screen and (min-width: $break-small) {
													display: none;
												}
											}
										}

										&:hover {
											a {
												&:nth-of-type(1) {
													display: none;
												}
												&:nth-of-type(2) {
													display: flex;
													padding: 0 0.5rem;
													color: black;
													text-align: left;
													line-height: 1.5;
												}
											}
										}

										@media screen and (min-width: $break-small) {
											min-height: 7rem;
											margin-bottom: 1rem;
										}

										@media screen and (min-width: $break-xl) {
											min-height: 6rem;
											margin-bottom: 1rem;
										}
										@media screen and (min-width: $break-xxl) {
											min-height: 6.7rem;
											margin-bottom: 1rem;
										}
									}

									&:nth-of-type(2) {
										min-height: 5rem;

										p {
											text-align: left;
										}

										@media screen and (min-width: $break-small) {
											margin-bottom: 1rem;
											flex-grow: 1;
											min-height: 55px;
											position: relative;
										}

										@media screen and (min-width: $break-large) {
											min-height: 50px;
										}

										@media screen and (min-width: $break-xl) {
											min-height: 90px;
										}
										@media screen and (min-width: $break-xxl) {
											margin-bottom: 0;
											display: block;
										}
									}

									@media screen and (min-width: $break-small) {
										justify-content: flex-start;
									}
								}

								button {
									padding: 0;
									width: 100%;
									background-color: orange;
									a {
										font-family: $roboto-medium;
										letter-spacing: 0.1rem;
										color: white;
										display: block;
										height: 100%;
										width: 100%;
										padding: 0.8rem;
										&:nth-of-type(2) {
											display: none;
										}
									}

									@media screen and (min-width: $break-large) {
										//padding: 1.5rem 0.8rem;
										a {
											padding: 1.5rem 0.8rem;
										}
									}
									@media screen and (min-width: $break-small) {
										background-color: transparent;
										border: solid 1px black;
										a {
											color: black;
										}
										&:hover {
											border-color: orange;
											a {
												color: orange;
											}
										}
									}
								}

								@media screen and (min-width: $break-small) {
									align-items: flex-start;
									margin-bottom: 0;
									height: calc(100% - 6rem);
									position: relative;
								}

								@media screen and (min-width: $break-large) and (max-width: 1126px) {
									height: calc(100% - 6rem);
								}
								@media screen and (min-width: 1127px) {
									height: calc(100% - 7rem);
								}
								@media screen and (min-width: $break-xl) {
									height: calc(100% - 9rem);
								}
								@media screen and (min-width: $break-xxl) {
									height: calc(100% - 6.3rem);
								}
							}

							.section-inscription-acheteur {
								.btn-action {
									border: solid 2px black;
									width: 100%;
									text-transform: uppercase;
									margin-bottom: 2rem;
									display: flex;
									justify-content: center;
									align-items: center;
									height: 10rem;
									a {
										width: 100%;
										height: 100%;
										display: flex;
										justify-content: center;
										align-items: center;
										font-family: $roboto-medium;
										letter-spacing: 0.1rem;
									}

									@media screen and (min-width: $break-small) {
										margin-bottom: 0;
										height: calc(100% - 6rem);

										a {
											font-family: $roboto-medium;
											letter-spacing: 0.1rem;

											display: flex;
											line-height: 1.5rem;
										}

										//&:hover{
										//	a{
										//		&:nth-of-type(1){
										//			display: none;
										//		}
										//		&:nth-of-type(2){
										//			display: flex;
										//			flex-direction: column;
										//			line-height: 1.5;
										//			span{
										//				font-family: $roboto-medium; //$acumin;
										//				letter-spacing: 0.1rem;
										//				text-transform: lowercase;
										//			}
										//		}
										//	}
										//}
									}

									@media screen and (min-width: $break-large) {
										height: calc(100% - 6rem);
										min-height: inherit;
									}
									@media screen and (min-width: 1127px) {
										height: calc(100% - 7rem);
									}
									@media screen and (min-width: $break-xl) {
										height: calc(100% - 9rem);
									}
									@media screen and (min-width: $break-xxl) {
										height: calc(100% - 6.3rem);
									}
								}

								@media screen and (min-width: $break-small) {
									width: var(--largeur-colonne);
								}
							}

							.section-inscription-vendeur {
								.image-legende-inscription {
									.creer-compte-image {
										display: flex;
										flex-direction: row;
										justify-content: space-around;
										column-gap: 0.2rem;
										img {
											&.micro {
												display: none;
												transform: rotate(-90deg);
											}

											&.pinceau {
												transform: rotate(-180deg);
											}
										}
									}
								}

								section {
								}

								@media screen and (min-width: $break-small) {
									width: var(--largeur-colonne);
								}
							}

							.section-inscription-multiartiste {
								.trait-sep {
									margin-bottom: 2rem;

									@media screen and (min-width: $break-small) {
										display: none;
									}
								}

								section {
									button {
										&:hover {
											a {
												&:nth-of-type(1) {
													display: none;
												}
												&:nth-of-type(2) {
													display: block;
												}
											}
										}
									}

									@media screen and (min-width: $break-small) {
									}
								}

								@media screen and (min-width: $break-small) {
									width: var(--largeur-colonne);
								}
							}

							@media screen and (min-width: $break-small) {
								flex-direction: row;
								flex-wrap: nowrap;
								align-items: stretch;
								min-height: 270px;
							}

							@media screen and (min-width: $break-xl) {
								min-height: 390px;
							}
							@media screen and (min-width: $break-large) and (max-width: $break-xl) {
								min-height: 300px;
							}
							//* column-gap a remettre et enlever justify content:space-around quand il y aura les multi artiste *//
							@media screen and (min-width: $break-small) {
								--largeur-colonne: 39%;
								//column-gap: 1rem;//
								justify-content: space-evenly;
							}

							@media screen and (min-width: $break-large) {
								--largeur-colonne: 30%;
								//column-gap: 3rem;//
							}

							@media screen and (min-width: $break-xl) {
								--largeur-colonne: 30%;
								//column-gap: 4rem;//
							}
							// surement a modifier quand il y aura multi-artiste
							@media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
								--largeur-colonne: 32%;
							}
						}
					}

					&.culture {
						.section-inscription {
							display: flex;
							//justify-content: space-between; <-- le remettre quand on aura les musées
							justify-content: space-around;
							flex-direction: column;
							.btn {
								min-width: 32%;
								padding: 0.5rem 1.5rem;
								width: 100%;
								max-width: none;
								margin-bottom: 0.5rem;
								.lighter {
									font-size: 0.7rem;
									text-transform: capitalize;
								}
								@media screen and (min-width: $break-small) {
									width: 40%;
									margin-bottom: 0;
								}
								@media screen and (min-width: $break-large) {
									width: inherit;
									max-width: max-content;
								}
							}
							@media screen and (min-width: $break-small) {
								flex-direction: row;
							}
						}
					}
				}

				@media screen and (min-width: $break-small) {
					min-width: 60%;
					width: 90%;
					margin: 0 auto;
				}
			}
		}
	}

	@media screen and (min-width: $break-small) {
		flex-direction: row;
		padding-bottom: 3rem;
	}
}
