#cookies-preference {
  margin-bottom: 3rem;
  .titre-page-cookies {
    background-color: #f4f2f1;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    @media screen and (max-width: $break-small) {
      margin-bottom: 2rem;
    }
    h2 {
      font-family: $reross-quadratic;
      font-size: 1.5rem;
      letter-spacing: 7px;
      text-align: center;
    }
  }
  .bloc-cookie {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    @media screen and (max-width: $break-large) {
      flex-direction: column;
      width: 100%;
    }
    .nav-cookie {
      width: 30%;
      background-color: #f4f4f4;
      padding: 2rem;
      height: fit-content;
      position: sticky;
      top: 64px;
      @media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
        top: 56px;
      }
      @media screen and (min-width: $break-large) and (max-width: $break-xl) {
        top: 3.2rem;
      }
      @media screen and (max-width: $break-large) {
        width: 100%;
        margin-bottom: 3rem;
        position: static;
      }
      @media screen and (max-width: $break-small) {
        width: 95%;
        padding: 1rem;
        margin: 0 auto 2rem;
      }
      .navigation-cookies {
        ul {
          border-bottom: 1px solid black;
          padding-bottom: 1rem;
          li {
            &:not(:last-of-type) {
              margin-bottom: 1rem;
              @media screen and (max-width: $break-small) {
                margin-bottom: 0.5rem;
              }
            }
            a {
              font-weight: bold;
            }
            .nav-active {
              color: #ffa500;
            }
          }
        }
        div {
          padding-top: 1rem;
          p {
            margin-bottom: 1rem;
          }
        }
      }
    }
    .type-cookie {
      width: 80%;
      margin-left: 5rem;
      @media screen and (max-width: $break-large) {
        width: 95%;
        margin: 0 auto;
      }
      @media screen and (max-width: $break-small) {
        padding: 0 1rem;
      }
      section {
        margin-bottom: 2rem;
        scroll-margin-top: 64px;
        @media screen and (min-width: $break-large) and (max-width: $break-xxl) {
          margin-bottom: 2.5rem;
        }
        @media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
          scroll-margin-top: 56px;
        }
        @media screen and (min-width: $break-large) and (max-width: $break-xl) {
          scroll-margin-top: 3.2rem;
        }
        @media screen and (max-width: $break-small) {
          margin-bottom: 3rem;
        }
        .titre-section-cookies {
          margin-bottom: 1rem;
          h3 {
            font-size: 1.3rem;
          }
        }
        .infos-cookies {
          margin-bottom: 1rem;
          h4 {
            font-family: $roboto-light;
            @media screen and (max-width: $break-small) {
              font-size: 12px;
            }
          }
        }
        .explication-cookies {
          margin-bottom: 1rem;
          p {
            text-align: justify;
          }
        }
        .cookies-utilise {
          margin-bottom: 1rem;
          p {
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
          ul {
            margin-left: 2.4rem;

            li {
              position: relative;
              @media screen and (max-width: $break-small) {
                margin-bottom: 0.5rem;
              }
              &::before {
                content: "•";
                position: absolute;
                left: -1rem;
              }
            }
          }
          @media screen and (max-width: $break-small) {
            margin-bottom: 2rem;
          }
        }
        .btn-accepte-cookies {
          button {
            background-color: grey;
            position: relative;
            height: 24px;
            width: 50px;
            border-radius: 20px;
            @media screen and (max-width: $break-xl) {
              width: 40px;
              height: 18px;
            }
            &::after {
              content: "";
              width: 20px;
              height: 20px;
              background-color: #fff;
              position: absolute;
              left: 3px;
              border-radius: 10px;
              top: 50%;
              transform: translate(0, -50%);
              transition: all 0.5s ease;
              @media screen and (max-width: $break-xl) {
                width: 15px;
                height: 15px;
              }
            }
            &.cookie-actif {
              background-color: #ffa500;
              &::after {
                left: 27px;
                @media screen and (max-width: $break-xl) {
                  width: 15px;
                  height: 15px;
                  left: 22px;
                }
              }
            }
          }
        }
      }
      .submit-cookie {
        border: 1px solid black;
        padding: 1rem;
        @media screen and (max-width: $break-small) {
          width: 100%;
        }
      }
    }
  }
}
