@font-face {
	font-family: "Roboto Light";
	font-weight: 300;
	font-style: normal;
	src: url("./fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto Medium";
	font-weight: 300;
	font-style: normal;
	src: url("./fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto Bold";
	font-weight: 700;
	src: url("./fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

// Tailles de typos
.title {
	font-size: 20px;
}

.subtitle {
	font-size: 14px;
}

* {
	font-size: 12px;
}

.mention {
	font-size: 8px;
}

@media screen and (min-width: $break-small) and (max-width: $break-xl) {
	.title {
		font-size: 20px;
	}

	.subtitle {
		font-size: 14px;

	}

	* {
		font-size: 12px;

	}

	.mention {
		font-size: 10px;
	}
}

@media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 20px;

	}

	* {
		font-size: 14px;

	}

	.mention {
		font-size: 10px;
	}
}

@media screen and (min-width: $break-xxl) {
	.title {
		font-size: 26px;
	}

	.subtitle {
		font-size: 22px;
	}

	* {
		font-size: 16px;
	}

	.mention {
		font-size: 12px;
	}
}

.f-10 {
	font-size: 10px;
}

.f-12 {
	font-size: 12px;
}

.f-14 {
	font-size: 14px;
}

.f-16 {
	font-size: 16px;
}

.f-18 {
	font-size: 18px;
}

.f-20 {
	font-size: 20px;
}

.f-24 {
	font-size: 24px;
}

.f-28 {
	font-size: 28px;
}

.f-30 {
	font-size: 30px;
}

.f-40 {
	font-size: 40px;
}

.f-50 {
	font-size: 50px;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline !important;
}

p {
	font-family: $roboto-light; //$acumin;
}

a {
	color: black;
	text-decoration: none;

	&:hover {
		color: black;
	}
}

h1 {
	font-family: $roboto-medium;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 12px;

	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		font-size: 14px;
	}

	@media screen and (min-width: $break-large) and (max-width: $break-xl) {
		font-size: 16px;
	}

	@media screen and (min-width: $break-xl) {
		font-size: 20px;
	}
}

h2 {
	font-family: $roboto-medium;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 12px;

	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		font-size: 12px;
	}

	@media screen and (min-width: $break-large) and (max-width: $break-xl) {
		font-size: 14px;
	}

	@media screen and (min-width: $break-xl) {
		font-size: 18px;
	}
}

h3 {
	font-family: $roboto-medium;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 10px;

	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		font-size: 12px;
	}

	@media screen and (min-width: $break-large) and (max-width: $break-xl) {
		font-size: 14px;
	}

	@media screen and (min-width: $break-xl) {
		font-size: 16px;
	}
}

h4 {
	font-family: $roboto-medium; //$acumin;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 10px;

	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		font-size: 12px;
	}

	@media screen and (min-width: $break-large) and (max-width: $break-xl) {
		font-size: 12px;
	}

	@media screen and (min-width: $break-xl) {
		font-size: 14px;
	}
}

@media (min-width: $break-large) and (max-width: $break-xxl) {
	.f-md-16 {
		font-size: 16px;
	}
}

@media (min-width: $break-large) {
	.f-lg-14 {
		font-size: 14px !important;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-rouge{
	color: $red;
}